.jumbotron {
    background-color: blue ;
    color: yellow;    
}

footer {
    padding: 10px 10px 0 10px;
    background-color: blue;
    color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-servicios {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;  
    margin-top: 10px;
}

.bt-informacion {
    width: 100%;

}